.custGray{
    background-color: rgb(222,222,222);
}
.custRight{
    margin-left: 150px;
    margin-top: 20px;

}
.custheight{
    height: 30px;
    border: 1px solid #44C8F5;
    color: #44C8F5;
    border-radius: 4px;
    padding: 7px 20px 5px 20px;
    background-color: white;
    opacity: 1;
}
.custColor{
    background: #E1E5EA 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 0.6;
}
.cardBackground{
  background-color: #f8f8f8;
}
// .custMargin{
//     margin-bottom: 18px;
//     margin-left: 16px;
// }

span{
    color:#D23D50;
}
.custColorGreen{
    color: #29AD00;
}

.custPosition{
    display: flex;
    justify-content: center;
}

.custGreenTick{
  color: #29AD00;
    height: 8px;
    width: 8px;
  }
.custcol{
color: #29AD00;
}
