<lib-header [title]="title" [imageList]="imageList" [showArrow]="true" [showLabel]="false" [showImg]="false" [imgURL]="labelIcon"
[showIndex]="false" [showNotification]="false" [showCartWithName]="false" [notificationCount]="notificationCount" [cardCount]="cartCount" [showSideMenu]="false" [showSearch]="false" [showClose]="false" [showShare]="true" [showWatchList]="true" [showCartWithoutName]="true" [showStories]="false" [otherTextName]="textName" [showOtherText]="false" [superMode]="currentMode" [backUrlName]="backURL"></lib-header>
<ion-content class="h-100 w-100 contentBackground">
    <lib-productDetails [currentProductDatalib]="currentProductData" [imageList]="imageList" [currentCountry]="currentCountry" [errorList]="errorList"></lib-productDetails>
</ion-content>

