.custBtnExplore{
    // width: 80px;
    height: 30px;
    border:  1px solid var(--custBrightCyan) !important;
    color:  var(--custBrightCyan) !important;
    border-radius: 4px !important;
    background: var(--custPaleGrey) !important;
    text-align: center !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    float: right;
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
}