<div *ngFor="let item of menuDet" >
<mat-expansion-panel [class.mat-elevation-z0]="true" [expanded]="item.type=='expand'" *ngIf="item.key=='true'">
  <mat-expansion-panel-header>
    <app-icons [iconDetail]="item"></app-icons>
    <app-label [labelDetail]="item"></app-label>
  </mat-expansion-panel-header>
   <mat-nav-list>
  <div *ngFor="let submenu of item.value">
    <mat-list-item *ngIf="submenu.key=='true'" (click)="getMenuData(submenu)">
      <app-icons [iconDetail]="submenu"></app-icons>
      <app-label [labelDetail]="submenu" [ngClass]="{'active':tabName == submenu.title}"></app-label>
    </mat-list-item>
  </div>
   </mat-nav-list>
</mat-expansion-panel>
</div>