.custWithoutTextImg{
    height: 20px;
}
.border-bottom{
    border-bottom: 1px solid #DEDEDE;
}

.custGreenTick{
  color: #29AD00;
  }

  .cardStyle{
    background: rgba(255,255,255,0.55) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    border: 1px solid rgba(255,255,255,0.275) !important;
  }
