.custKYCImg{
    height: 16px;
    width: 13px;
}
::ng-deep .mat-tab-label {
    height: 35px !important;
    min-height: 5px !important;
    margin: 3px !important;
    width: 30% !important;
    min-width: 2px !important;
}
.custKYCImg{
    height: 16px;
    width: 13px;
}