.backArrow{
    height: 18px;
    width: 10px;
}

.custHelpIcon{
    height: 25px;
    width:25px
}
.custiciciicon{
height: 40px;
width: 40px;


}


.custInvestArrow{
    height: 14px;
    width: 14px;
    margin-top: 14px;
    margin-left: 35px;
}

.custLineHeight10 {
    line-height: 10px;
}
.custBookmark {
    height: 28px;
    width: 18px;
    margin-right: 5px;
}
.custBottom {
    margin-bottom: -20px;
}
