.custWithoutTextImg{
    height: 18px;
    width: 18px;
  }
  .itemCol{
    color: rgb(41,173,0);
}

.custAddIcon{
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 17px;
}
.custGreenTick{
  height: 8px;
  width: 8px;
}

.formControl{
    border:none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.formControl::placeholder  {
    font-size: 14px;
  }

  .custKYCImg{
      height: 18px;
      width: 18px;
  }