<ion-grid class="mt-5 clasRest">
  <ion-col [size]="'12'">
    <div class="custCenter">
      <ion-row>
        <svg
          class="svgImg"
          id="jackpotWithArrow"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="328"
          height="200"
          viewBox="0 0 328 200"
        >
          <defs>
            <clipPath id="clip-path">
              <rect
                id="Rectangle_10543"
                data-name="Rectangle 10543"
                width="312"
                height="200"
                rx="10"
                transform="translate(24 305)"
                fill="#e1e4e8"
              />
            </clipPath>
            <linearGradient
              id="linear-gradient"
              x1="0.5"
              y1="1"
              x2="0.5"
              gradientUnits="objectBoundingBox"
            >
              <stop offset="0" stop-color="#afb1b3" />
              <stop offset="0.512" stop-color="#e9ecf0" />
              <stop offset="1" stop-color="#afb1b3" />
            </linearGradient>
            <linearGradient
              id="linear-gradient-2"
              x1="0.5"
              y1="0.13"
              x2="0.5"
              y2="1"
              gradientUnits="objectBoundingBox"
            >
              <stop offset="0" stop-color="#fff" />
              <stop offset="1" stop-color="gray" />
            </linearGradient>
            <linearGradient
              id="linear-gradient-3"
              x1="0.5"
              y1="0.141"
              x2="0.5"
              y2="1"
              gradientUnits="objectBoundingBox"
            >
              <stop offset="0" stop-color="#e64c65" />
              <stop offset="1" stop-color="#8e0020" />
            </linearGradient>
            <linearGradient
              id="linear-gradient-4"
              x1="0.091"
              y1="0.325"
              x2="0.888"
              y2="0.711"
              gradientUnits="objectBoundingBox"
            >
              <stop offset="0" stop-color="#90cc27" />
              <stop offset="1" stop-color="#628e16" />
            </linearGradient>
            <linearGradient
              id="linear-gradient-5"
              x1="0.214"
              y1="0.203"
              x2="0.914"
              y2="0.585"
              gradientUnits="objectBoundingBox"
            >
              <stop offset="0" stop-color="#fddeb0" />
              <stop offset="1" stop-color="#eab970" />
            </linearGradient>
            <linearGradient
              id="linear-gradient-10"
              x1="0.5"
              y1="0.023"
              x2="0.5"
              y2="1"
              gradientUnits="objectBoundingBox"
            >
              <stop offset="0" stop-color="#ad582d" />
              <stop offset="1" stop-color="#6d3c23" />
            </linearGradient>
            <linearGradient
              id="linear-gradient-11"
              y1="0.5"
              x2="1"
              y2="0.5"
              gradientUnits="objectBoundingBox"
            >
              <stop offset="0" stop-color="#ffc033" />
              <stop offset="1" stop-color="#ef8e2e" />
            </linearGradient>
            <linearGradient
              id="linear-gradient-12"
              x1="0.5"
              y1="0"
              x2="0.5"
              y2="1"
              xlink:href="#linear-gradient-10"
            />
            <linearGradient
              id="linear-gradient-13"
              x1="0.5"
              y1="0"
              x2="0.5"
              y2="1"
              xlink:href="#linear-gradient-11"
            />
          </defs>
          <g id="jackpot" transform="translate(8)">
            <g
              id="Mask_Group_22474"
              data-name="Mask Group 22474"
              transform="translate(-24 -305)"
              clip-path="url(#clip-path)"
            >
              <rect
                id="Rectangle_10506"
                data-name="Rectangle 10506"
                width="360"
                height="250"
                rx="5"
                transform="translate(0 280)"
                opacity="0.5"
                fill="url(#linear-gradient)"
              />
              <line
                id="Line_712"
                data-name="Line 712"
                y2="199.998"
                transform="translate(128.5 305.001)"
                fill="none"
                stroke="#edf1f5"
                stroke-width="5"
              />
              <line
                id="Line_713"
                data-name="Line 713"
                y2="199.998"
                transform="translate(232.5 305.001)"
                fill="none"
                stroke="#edf1f5"
                stroke-width="5"
              />
              <g
                id="Group_23435"
                data-name="Group 23435"
                transform="translate(0 405)"
              >
              </g>
            </g>
          </g>
          <g id="jackpotArrow" transform="translate(0 85)">
            <path
              id="Polygon_16"
              data-name="Polygon 16"
              d="M13.541,1.556a2,2,0,0,1,2.918,0L26.843,12.632A2,2,0,0,1,25.384,16H4.616a2,2,0,0,1-1.459-3.368Z"
              transform="translate(16) rotate(90)"
              fill="#44c8f5"
            />
          </g>
          <g
            id="jackpotArrow-2"
            data-name="jackpotArrow"
            transform="translate(328 115) rotate(180)"
          >
            <path
              id="Polygon_16-2"
              data-name="Polygon 16"
              d="M13.541,1.556a2,2,0,0,1,2.918,0L26.843,12.632A2,2,0,0,1,25.384,16H4.616a2,2,0,0,1-1.459-3.368Z"
              transform="translate(16) rotate(90)"
              fill="#44c8f5"
            />
          </g>
        </svg>

        <div class="base">
          <div class="letter-one">
            <table>
              <tr *ngFor="let x of jackpotIcons" [@letterOne]="letterOne">
                <td><img [src]="x" /></td>
              </tr>
            </table>
          </div>
          <div class="letter-two">
            <table>
              <tr *ngFor="let x of jackpotIcons" [@letterTwo]="letterTwo">
                <td><img [src]="x" /></td>
              </tr>
            </table>
          </div>
          <div class="letter-three">
            <table>
              <tr *ngFor="let x of jackpotIcons" [@letterThree]="letterThree">
                <td><img [src]="x" /></td>
              </tr>
            </table>
          </div>
        </div>
      </ion-row>
    </div>

    <ion-row class="custclass">
      <span class="custFontFamilyMuliRegular muli-14pt"
        >{{ spin }}/{{ data?.spinCount }} spins left</span
      >

      <button
        [disabled]="btnDis"
        class="btn w-100 text-center my-3 custBackgroundColorYellow"
        id="btn"
        (click)="spinFun()"
      >
        <span class="custColorDark custFontFamilyMuliBold muli-16pt">{{
          data.btn
        }}</span>
      </button>
    </ion-row>

    <ion-card
      class="custBackground rounded-pill fixed-bottom custMargin"
    >
      <img class="mt-1" src="/assets/icon/torusCoin.svg" />
      <span
        class="custFontFamilyMuliSemiBold muli-14pt text-center mt-2 px-2"
        >{{ data?.points }}</span
      >
    </ion-card>
  </ion-col>
</ion-grid>
