<ion-content class="contentBackground">
  <ion-header class="top-fixed">
    <ion-toolbar class="custBackgroundDynamicColorWhite">
      <ion-grid>
        <ion-row>
          <ion-col [size]="'0.7'" class="text-center mt-2 me-3">
            <ion-img [src]="imageList?.arrow" class="custArrow" (click)="backToSetting()"></ion-img>
          </ion-col>
          <ion-col [size]="'8'">
            <span class="custFontFamilyMuliBold muli-16pt custLineHight40 ml-10 custColorBlack">Exchange Messages</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>


  <ion-row>
    <mat-tab-group class="w-100">
      <mat-tab label="NSE" class=""> </mat-tab>
      <mat-tab label="BSE"> </mat-tab>
      <mat-tab label="MCX"> </mat-tab>
      <mat-tab label="NCDEX"> </mat-tab>
    </mat-tab-group>
  </ion-row>
  <ion-card class="">
    <ion-row class="mt-2">
      <ion-col>
        <p class="m-0 px-2 custFontFamilyMuliRegular muli-12pt custLineHight33 custColorBlack">
          The Download of corporate actions data is done after close
        </p>
        <p class="m-0 px-2 custFontFamilyMuliRegular muli-10pt custLineHight13 custColorBlack text-end">
          24 Jun 2021 3:04:09
        </p>
      </ion-col>
    </ion-row>
    <hr class="my-2" />
    <ion-row>
      <ion-col>
        <p class="m-0 px-2 custFontFamilyMuliRegular muli-12pt custLineHight33 custColorBlack">
          The Download of corporate actions data is done after close
        </p>
        <p class="m-0 px-2 custFontFamilyMuliRegular muli-10pt custLineHight13 custColorBlack text-end">
          24 Jun 2021 3:04:09
        </p>
      </ion-col>
    </ion-row>
    <hr class="my-2" />
    <ion-row>
      <ion-col>
        <p class="m-0 px-2 custFontFamilyMuliRegular muli-12pt custLineHight33 custColorBlack">
          The Download of corporate actions data is done after close
        </p>
        <p class="m-0 px-2 custFontFamilyMuliRegular muli-10pt custLineHight13 custColorBlack text-end">
          24 Jun 2021 3:04:09
        </p>
      </ion-col>
    </ion-row>
    <hr class="my-2" />
    <ion-row>
      <ion-col>
        <p class="m-0 px-2 custFontFamilyMuliRegular muli-12pt custLineHight33 custColorBlack">
          The Download of corporate actions data is done after close
        </p>
        <p class="m-0 px-2 custFontFamilyMuliRegular muli-10pt custLineHight13 custColorBlack text-end">
          24 Jun 2021 3:04:09
        </p>
      </ion-col>
    </ion-row>
    <hr class="mt-2" />
  </ion-card>


</ion-content>