.custInvestArrow{
    height: 14px;
    width: 14px;
    margin-top: 12px;
}
.custImgSucc{
    height: 45px;
    // margin-bottom:px;
}
.topmargin{
    margin-top:15px;
}
.custTryButton {
    height: 45px;
    border: 1px solid var(--custBrightCyan);
    border-radius: 4px;
    --background: #F6F7FB;
    --box-shadow: none;
    text-align: center !important;
    margin-right: 8px;
}
.footer{
    height: 20%;
    bottom: 0px;
}
.custbody{
    padding-bottom: 110px;
}
