<ion-row class="mt-2s">
  <ion-col class="text-center">
    <img [src]="imageList?.SuccessCheck" class="text-center" />
  </ion-col>
</ion-row>

<ion-row >
  <ion-col class="text-center custColorDark muli-24pt custFontFamilyMuliBold custLineHight10">
    Success!
  </ion-col>
</ion-row>

<ion-row>
  <ion-col [size]="'1'"></ion-col>
  <ion-col [size]="'10'" class="text-center  custColorGreyish muli-12pt custFontFamilyMuliBold custLineHight18 px-2">
    Your pledge request has been submitted. Kindly refer CDSL link for completion of pledge process.
  </ion-col>
</ion-row>


