.pdngtop{
  padding-top: 100px;

}.borderNone{
  border:none;
  outline: none;
}
a{
text-decoration:none;

}
.padtop1{
  padding-top: 13px;
}

.custWithoutTextImg{
  height: 22px;
  width: 22px;
}

#wellnessStocke{
  position: relative;
  left: 98px;
}

.custArrow{
  height: 18px;
  width: 18px;
}
.padBot1{
  padding-bottom: 10px;
}
.cardMargin{
  margin-bottom: 100px;
}
.custColorblack{
  color: #141B2F;
}
.piggyImage{
  width: 22px;
height: 23px;
}
.custCrossColor{
color:#003399;
}

.custBtnExplore{
  height: 30px;
  border:  1px solid var(--custBrightCyan) !important;
  border-radius: 4px !important;
  background: white !important;
  text-align: center !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  float: right;
}

.custBorderBtn{
  border: 2px solid rgb(141, 80, 141);

}

.custMo{
  position: relative;
  left: 40px;
}
