<ion-grid class="custGrid">
  <ion-row>
    <ion-col [size]="'12'" class="pdingleft">
      <ion-row class="copltmargin">
        <ion-col [size]="'1'">
          <h1></h1>
        </ion-col>
      </ion-row>
    </ion-col>
    <!-- <ion-col [size]="'12'" class="copldtmargin">
      <p class="muli-12pt custFontFamilyMuliRegular custLineHight22 custColorBattlePGry px-3 mb-0">
        An overview of your
        Portfolio</p>
    </ion-col> -->
  </ion-row>

  <ion-card class="cardWidth">
    <ion-row class="custH  w-100">
      <ion-col size="9" class="m-0">
        <canvas #doughnutCanvas></canvas>
      </ion-col>

      <!-- <ion-col [size]="'4.3'" class="mt-3">
        <div>
          <span class="muli-10pt custFontFamilyMuliBold custColorPurple px-4">SmallCap</span>
          <mat-radio-button (click)="onGold()" value="1" color="primary" checked="true">{{rupeesSymbol}}5,63,967.56
          </mat-radio-button>
        </div>
        <div class="my-2">
          <span class="muli-10pt custFontFamilyMuliBold custColorOrange px-4 ">MidCap</span>
          <mat-radio-button (click)="onSilver()" value="2" color="warn">{{rupeesSymbol}}1,50,055.56</mat-radio-button>
        </div>
        <div>
          <span class="muli-10pt custFontFamilyMuliBold custColorPurple px-4">LargeCap</span>
          <mat-radio-button (click)="onGold()" value="1" color="primary">{{rupeesSymbol}}5,63,967.56
          </mat-radio-button>
        </div>
      </ion-col> -->
    </ion-row>
  </ion-card>

  <!-- <ion-row>
    <ion-card class="w-100 px-2 custBackgroundColorCyanBlue">
      <ion-row>
        <ion-col class="muli-10pt custFontFamilyMuliRegular custLineHight22 custColorBattlePGry px-2">Gold</ion-col>
        <ion-col class="muli-10pt custFontFamilyMuliRegular custLineHight22 custColorBattlePGry text-end">Current Value
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="muli-16pt custFontFamilyMuliRegular custLineHight22 custColorDark pt-0">15.00 gm</ion-col>
        <ion-col class="muli-16pt custFontFamilyMuliRegular custLineHight22 custColorParakeetGreen text-end pt-0">
          {{rupeesSymbol}}79,388.25</ion-col>
      </ion-row>

      <ion-row>
        <ion-col [size]="'12'">
          <h1 class="line"></h1>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col class="muli-10pt custFontFamilyMuliRegular custLineHight22 custColorBattlePGry">Silver</ion-col>
        <ion-col class="muli-10pt custFontFamilyMuliRegular custLineHight22 custColorBattlePGry text-end">Current Value
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="muli-16pt custFontFamilyMuliRegular custLineHight22 custColorDark pt-0">1500.00 gm</ion-col>
        <ion-col class="muli-16pt custFontFamilyMuliRegular custLineHight22 custColorcustFadedRed text-end pt-0">
          {{rupeesSymbol}}89,418.25</ion-col>
      </ion-row>
    </ion-card>
  </ion-row>

  <ion-row>
    <ion-col [size]="'4.5'"></ion-col>
    <ion-col [size]="'3'">
      <button class="btn w-100 text-center custBackgroundColorWhite custButtonOutLine">
        <span class="custColorBrightCyan custFontFamilyMuliBold muli-16pt">Explore</span>
      </button>
    </ion-col>
    <ion-col [size]="'4.5'"></ion-col>
  </ion-row> -->
</ion-grid>
