.custGray {
  background-color: rgb(222, 222, 222);
}
.custRight {
  margin-left: 150px;
  margin-top: 20px;
}
.custheight {
  height: 30px;
  border: 1px solid #44c8f5;
  color: #44c8f5;
  border-radius: 4px;
  padding: 7px 20px 5px 20px;
  background-color: white;
  opacity: 1;
}
.custColor {
  background: #e1e5ea 0% 0% no-repeat padding-box;
  opacity: 0.6;
}
.cardBackground {
  background-color: #e1e5ea;
}
// .custMargin{
//     margin-bottom: 18px;
//     margin-left: 16px;
// }
.cardBackground {
  background-color: #f8f8f8;
}
.custWithoutTextImg {
  height: 18px;
  width: 18px;
}

span {
  color: #d23d50;
}
.custColorGreen {
  color: #29ad00;
}

.custPosition {
  display: flex;
  justify-content: center;
}

.custGreenTick {
  color: #29ad00;
  height: 8px;
  width: 8px;
}
.custcol {
  color: #29ad00;
}
