
<ion-header class="fixed-top">
  <ion-toolbar class="custHeading">
    <ion-row>
      <ion-col size="6" class="mt-3">
        <ion-title><span class="custFontFamilyMuliBold custLineHight25 muli-16pt custColorDark">
            Stocks
          </span></ion-title>
      </ion-col>
      <ion-col size="3">
        <div class="custTextAlignCenter">
          <div class="custHeight custProfile">
            <div *ngIf="!hideIndex; else conditionFalse">
              <ion-img [src]="imageList?.index" class="custSVGIcon" (click)="showIndex()"></ion-img>
            </div>
            <ng-template #conditionFalse>
              <ion-img [src]="imageList?.indexBlue" class="custSVGIcon" (click)="showIndex()"></ion-img>
            </ng-template>
          </div>
          <p class="muli-10pt custLineHight28 custFontFamilyMuliSemiBold custColorBattlePGry">indexes</p>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="custTextAlignCenter">
          <div class="custHeight custProfile" (click)="goToNotification()">
            <ion-img [src]="imageList?.notificationIcon" class="custSVGIcon"></ion-img>
          </div>
          <p class="muli-10pt custLineHight28 custFontFamilyMuliSemiBold custColorBattlePGry">notifications</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <div>
    <div *ngIf="hideIndex" class="myClass">
      <ion-slides>
        <ion-slide class="border-right">
          <ion-col class="text-center" *ngFor="let x of json2" class="border-bottom p-3 border-end">
            <ion-col class="muli-14pt custFontFamilyMuliBold  custLineHight20 custColorDark text-center ms-4 m-2">
              {{x?.bankName}}
            </ion-col>
            <ion-col>
              <img [src]="imageList?.greyPensil" *ngIf="json2.indexOf(x)>0" width="20px" height="25px" (click)="goToEditIndex()">
            </ion-col>
            <p class="m-1 custColorDark muli-14pt">₹{{x?.Money}}</p>
            <p class="muli-18pt custFontFamilyMuliBold custColorParakeetGreen m-1">
              <span *ngIf="x?.PrecentegIncrement>0"><img [src]="imageList?.greenIcon" width="50px"
                  height="50px"></span>
              <span *ngIf="x?.PrecentegIncrement<0"><img [src]="imageList?.redarrow" width="20px"
                  height="20px"></span>
              <span [ngClass]="x?.PrecentegIncrement<0?'custColorRed':'custColorParakeetGreen muli-14pt m-0'">
                {{x?.LiveMoney}}({{x?.PrecentegIncrement}}%)</span>
            </p>
            <p class="muli-10pt custFontFamilyMuliBold custColorGreyish">{{x.date}}</p>

          </ion-col>
        </ion-slide>
      </ion-slides>
      <ion-row class="mt-3">

        <ion-col [size]="'2.5'"
          class="custColorGreyish muli-14pt custFontFamilyMuliBold	text-start m-0 p-0 mt-1 ms-3">
          My Funds
        </ion-col>
        <ion-col [size]="'4'" class="muli-14pt">
          <span [ngClass]="(CurrentFund > 0)?'custColorParakeetGreen':'custColorcustFadedRed'">₹{{CurrentFund}}</span>
        </ion-col>

        <ion-col class="custBackgroundColorWhite text-end me-3 mb-3">

          <button [ngClass]="(CurrentFund > 0)?'custBackgroundColorWhite':'custBackgroundColorBrightCyan'"
            class="custBackgroundColorWhite custColorBrightCyan border text-start rounded" (click)="goToAddFunds()">

            <ion-icon name="add-circle-outline" [ngClass]="(CurrentFund > 0)?'custColorBrightCyan':'custColorWhite'">
            </ion-icon>
            &nbsp;<span class="muli-14pt custFontFamilyMuliBold custLineHeight18 "
              [ngClass]="(CurrentFund > 0)?'custColorBrightCyan':'custColorWhite'">Add funds</span>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-header>

  <ion-content class="contentBackground">
    <ion-row class="">
    <ion-col [size]="'12'">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel expanded class="contentBackground">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="custFontFamilyMuliBold  muli-22pt custLineHight28 custColorDark  ">
                Index</span>
            </mat-panel-title>
            <mat-panel-description class="flex-grow-0 mt-1">
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <my-portfolio></my-portfolio>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
  
      <mat-accordion class="example-headers-align ">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="custFontFamilyMuliBold  muli-22pt custLineHight28  custColorDark  ">
                Portfolio</span>
            </mat-panel-title>
            <mat-panel-description class="flex-grow-0 mt-1">
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <holding-summary></holding-summary>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
  
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="custFontFamilyMuliBold   muli-22pt custLineHight28  custColorDark">Market Movers</span>
            </mat-panel-title>
            <mat-panel-description class="flex-grow-0 mt-1 ">
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <market-movers></market-movers>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
  
  
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="custFontFamilyMuliBold  muli-22pt custLineHight28  custColorDark">Events</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <events></events>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
  
  
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="custFontFamilyMuliBold  muli-22pt custLineHight28  custColorDark  ">
                Block Deal</span>
            </mat-panel-title>
            <mat-panel-description class="flex-grow-0 mt-1">
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <black-deal></black-deal>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
  
  
  
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="custFontFamilyMuliBold   muli-22pt custLineHight28  custColorDark  ">
                Investment Product</span>
            </mat-panel-title>
            <mat-panel-description class="flex-grow-0 mt-1">
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="p-3">
            <ion-card class="custBackgroundColorWhite p-0 m-0">
              <ion-card-content>
                <ion-row>
                  <ion-col [size]="'1.5'">
                    <ion-img [src]="imageList?.stockIcon" class="custStockIcon float-start"></ion-img>
                  </ion-col>
                  <ion-col [size]="'10.5'">
                    <span class="custFontFamilyMuliSemiBold custLineHight20 muli-14pt custColorDark">
                      IPO
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col [size]="'7'">
                    <span class="custFontFamilyMuliRegular muli-12pt custLineHight16 custColorBattlePGry">
                      Enjoy zero trading costs in cash segment. F&O at ₹10 per order</span>
                  </ion-col>
                  <ion-col [size]="'5'">
                    <button type="button"
                      class="custBtnExplore text-capitalize custColorBrightCyan custFontFamilyMuliRegular muli-14pt custButtonOutLine float-end"
                      (click)="navigateToIpo()" id="wellnessStocke">Explore</button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
            <!-- <app-holding-summary></app-holding-summary> -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ion-col>
    </ion-row>
  
  </ion-content>
  
  <cap-footer [activeImg]="imageList?.activeTab" [selectedIndex]="'2'" [footerListData]="stocksTab"
    [parentTab]="'wealthStocks'"></cap-footer>
  