.demo-chart {
    height: 400px;
  }
  .Equity-btn {
    border-radius: 4px;
    cursor: pointer;
    color: #727682;
    background-color: transparent;
  }
  .active {
    background-color: #44c8f5;
    color: #fff;
  }
  .sizehelpicon{
    width: 15px;
    height: 15px;
  }


  .something2 {

    display: inline;

    filter: invert(59%) sepia(31%) saturate(930%) hue-rotate(47deg) brightness(93%) contrast(84%);

    height: 10px;

}