.custInvestArrow{
    height: 50%;
    width: 20px;
    transform: rotate(90deg);
    
}
.custRotation{
    transform: rotate(90deg);
}



.mat-expansion-panel-header {
    height: 108px;

//     height: 79px;
//     width: 270px;
// }
}
// ::ng-deep .mat-expansion-indicator::after {
//     background-image: url("../../../assets/Images/down_arrow.svg") ;

//     color: #003399 ;
// }
.custArrowIcon{
    height: 11px;
    width: 11px;
    color: #003399 ;

}
.button{
    width: 86px;
    height: 30px;
    background: #44C8F5 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    
}

.custBox{
    height: 4px;
    width: 20px;
    border-radius: 0.5px;
}

.custImgExpo{
    height: 14.43px;
    width: 23px;
}