.custKYCImg{
    height: 16px;
    width: 13px;
}
.Equity-btn {
    border-radius: 4px;
    cursor: pointer;
    color: #727682;
    background-color: transparent;
  }
  .active {
    background-color: #44c8f5;
    color: #fff;
  }