.custImgSucc{
    height:50px;
    width: 50px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .custPara{
    text-align:center;
    margin-top: 0;
    margin-bottom: 0rem;
  }