<ion-app>
  <!-- <ion-header class="sticky-top ">
    <ion-toolbar class="custBackgroundDynamicColorWhite">
      <ion-grid class="header">
        <ion-row>
          <ion-col [size]="'1'" class="text-center ">
            <ion-row class="backArrow">
              <img [src]="imageList?.arrow" class="backArrow mt-2">
            </ion-row>
          </ion-col>
          <ion-col [size]="'6'" class="">
            <span *ngIf="prod=='Transfer Money'"
              class="custFontFamilyMuliBold muli-16pt custLineHight22 custColorBlack"  (click)="goToback()">Transfers</span>
            <span *ngIf="prod=='Manage Beneficiary'"
              class="custFontFamilyMuliBold muli-16pt custLineHight22 custColorBlack">Beneficiary Details</span>
            <span *ngIf="prod=='Send Money'" class="custFontFamilyBold muli-16pt custLineHight22 custColorBlack">{{prod}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header> -->


  <ion-content class="contentBackground" *ngIf="!details">
    <ion-grid class="p-3">
      <!-- <ion-row class="w-100 myROW">
      </ion-row> -->

      <!-- <mat-radio-group class="mt-3 w-100 radioGroup" [(ngModel)]="mobileRadioButton">
        <mat-radio-button class="" name="type">Mobile</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="mt-3 w-100 radioGroup" [(ngModel)]="accountOpenRadioButton">
        <mat-radio-button class="" name="type">Account Open</mat-radio-button>

      </mat-radio-group> -->

      <form [formGroup]="myForm" >
        <div *ngFor="let control of jsonFormData.controls">

          <ion-row *ngIf="
          [
            'text',
            'number',
            'email'
            
          ].includes(control.type)
        ">

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ control.label }}</mat-label>
              <input matInput [type]="control.type" [formControlName]="control.name" 
              (keyup)="onKey($event,control.name)" 
              [value]="control.value"  >
            </mat-form-field>
          </ion-row>


          <ion-row *ngIf="
              [
                'select'
              ].includes(control.type)
            ">

            <mat-form-field class="w-100" appearance="outline">

              <mat-label>{{ control.label }}</mat-label>
              <ion-icon matSuffix name="chevron-down-outline"></ion-icon>
              <mat-select [formControlName]="control.name">
                <mat-option *ngFor="let option of control.options;index as i" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-row>


          <ion-col [size]="'12'" *ngIf="
          [
          'radio'
          ].includes(control.type)
          ">


            <mat-radio-group class="mt-3 w-100 radioGroup" [name]="control.name" [formControlName]="control.name"
              [(ngModel)]="radioModel" (ngModelChange)="dateShow($event)">
              <mat-radio-button *ngFor="let item of control.radios"
                [value]="control.radios[control.radios.indexOf(item)]" class="">{{
                control.radios[control.radios.indexOf(item)]}}</mat-radio-button>

            </mat-radio-group>


          </ion-col>






          <ion-row *ngIf="
          [
          'available'
          ].includes(control.type)
          ">
            <ion-card class="w-100 pb-3 card">
              <ion-row>
                <ion-col [size]="'7'" class="text-start mt-3 muli-14pt custFontFamilyMuliBold custColorDark ms-2">
                  {{control.label}}</ion-col>
                <ion-col class="text-end mt-3 muli-14pt custFontFamilyMuliBold custColorDark me-2">{{control.label1}}
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-row>





        </div>

        <ion-row *ngIf="dateshow">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ion-row>
      </form>

    </ion-grid>
  </ion-content>

  <ion-footer class="p-3">
    <ion-toolbar>
      
    <button [disabled]="!myForm.valid" (click)="onSubmit(this.button)"
    class="w-100 custBackgroundColorBrightCyan btn custColorWhite">{{this.button}}</button>
  <!-- <button *ngIf="prod=='Manage Beneficiary'" (click)="goToDeatils()" [disabled]="!myForm.valid"
    class="w-100 custBackgroundColorBrightCyan btn custColorWhite">Submit</button> -->
    </ion-toolbar>
  </ion-footer>

  <ion-content *ngIf="details" class="contentBackground">
    <ion-row class="w-100 mt-3">
      <ion-card class="w-100 custBackgroundDynamicColorWhite">

        <ion-row class="py-2">
          <ion-col [size]="'2'">
            <ion-img [src]="imageList?.accountHolder" class=""></ion-img>
          </ion-col>
          <ion-col [size]="'10'">
            <span class="custFontFamilyMuliBold muli-14pt custLineHight20 custColorDark">Hazik Zubair Chilmai
            </span>
            <span class="custFontFamilyMuliRegular d-block muli-12pt pt-1 custLineHight15 custColorGreyish">+91
              308767457
            </span>
            <span
              class="custFontFamilyMuliRegular d-block muli-12pt pt-1 custLineHight15 custColorGreyish">{{myForm.value.emailType}}
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col [size]="'10'">
            <span class="custFontFamilyMuliRegular d-block muli-12pt pt-1 custLineHight15 custColorGreyish">Bank Type
            </span>
            <span class="custFontFamilyMuliRegular d-block muli-14pt pt-1 custLineHight15 custColorDark">HDFC Bank
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="'10'">
            <span class="custFontFamilyMuliRegular d-block muli-12pt pt-1 custLineHight15 custColorGreyish">Account Type
            </span>
            <span
              class="custFontFamilyMuliRegular d-block muli-14pt pt-1 custLineHight15 custColorDark">{{myForm.value.selectAccountType}}
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="'10'">
            <span class="custFontFamilyMuliRegular d-block muli-12pt pt-1 custLineHight15 custColorGreyish">Account
              Number
            </span>
            <span
              class="custFontFamilyMuliRegular d-block muli-14pt pt-1 custLineHight15 custColorDark">{{myForm.value.accountNumber}}
            </span>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-col class="fixed-bottom">
        <ion-row class="px-2 w-100">
          <ion-col [size]="'12'" (click)="goTotranfer()">
            <button class="btn w-100 text-center custButtonOutLine custBtnExplore">
              <span class=" custColorBrightCyan custColorWhite custFontFamilyMuliBold muli-16pt">Skip</span>
            </button>
          </ion-col>
          <ion-col [size]="'12'" (click)="goToOtp()">
            <button class="btn w-100 text-center custBackgroundColorBrightCyan">
              <span class=" custColorWhite custFontFamilyMuliBold muli-16pt">Activate</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- <ion-col class="fixed-bottom">
      <ion-row class="px-2 w-100">
        <ion-col [size]="'12'">
          <button (click)="" class="btn w-100 text-center custButtonOutLine custBtnExplore">
            <span class=" custColorBrightCyan custColorWhite custFontFamilyMuliBold muli-16pt">Skip</span>
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="px-2 w-100">
        <ion-col [size]="'12'">
          <button (click)="" class="btn w-100 text-center custBackgroundColorBrightCyan" ><span
              class="custColorWhite custFontFamilyMuliBold muli-16pt">Activate</span></button>
        </ion-col>
    
      </ion-row>
    </ion-col>  -->
  </ion-content>


</ion-app>