.custGridCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.custVerification1{
    height: 39px;
    width: 36px;
}
.custVerification2{
    height: 19px;
    width: 80px;
}
.custVerification3{
    height: 38px;
    width: 35px;
}
.custImgMargin{
    margin-left: 25%;
    margin-top: 7%;
}