<ion-grid>
  <ion-row>
    <ion-segment value="Dividends" [(ngModel)]="segment" (ionChange)="segmentChanged()">
      <ion-segment-button value="Dividends">
        <ion-label class="custFontFamilyMuliBold muli-14pt custColorDark">Dividends</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Bonus">
        <ion-label class="custFontFamilyMuliBold muli-14pt custColorDark">Bonus</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Stock">
        <ion-label class="custFontFamilyMuliBold muli-14pt custColorDark">Stock Splits</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-row>

  <div class="my-2">
    <ion-card class="custBackgroundColorWhite mx-2 my-0" *ngFor="let item of data">

      <ion-row class="pb-0 mb-0">
        <ion-col class="custColorDark muli-14pt custFontFamilyMuliBold text-nowrap">
          {{item?.cmp_stock}}
          <img *ngIf="item.img" src={{item.img}} style="height: 16px; margin-top: -16px;">
        </ion-col>

        <ion-col class="custFontFamilyMuliBold custLineHight20 muli-14pt custColorDark text-end text-nowrap">
          <span>Final: </span>{{item?.percent}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="custFontFamilyMuliSemiBold muli-12pt custLineHight16 custColorBattlePGry text-nowrap">
          2024 Jun 10
        </ion-col>

        <ion-col class="d-flex justify-content-end text-end">

          <span class="muli-12pt custLineHight16 itemCol mb-3 text-end text-nowrap">Ex. Date: 2024 Jun 10</span>&nbsp;
          <!-- <span class="muli-12pt itemCol mb-3 text-end  text-nowrap">{{item?.percent}}</span> -->
        </ion-col>
      </ion-row>

      <!-- </ion-card-content> -->
    </ion-card>
 
  </div>


</ion-grid>