.custArrowIcon{
width: 18px;
height: 15px;
}
.something2 {

    display: inline;

    filter: invert(59%) sepia(31%) saturate(930%) hue-rotate(47deg) brightness(93%) contrast(84%);

    height: 10px;

}