




<ion-card  *ngFor="let x of DummayAPiData" (click)="ShowCardDetails(x)">
<ion-card-content>
  <ion-row>
    <ion-col [size]="'2'">
      <ion-img [src]="imageList?.iciciLogo"></ion-img>
    </ion-col>
    <ion-col [size]="'8'">
      <ion-row><span class="custFontFamilyMuliSemiBold muli-14pt custLineHight20 custColorDark">{{x?.schemeName}}
      </span></ion-row>
      <!-- <ion-row><span class="custFontFamilyMuliSemiBold muli-14pt custLineHight20 custColorDark">Solution Fund Direct Growth
      </span></ion-row> -->
    </ion-col>
    <!-- <ion-col [size]="'2'">
      <ion-img [src]="imageList?.leftArrowIcon" class="m-3 custArrowIcon"></ion-img>
    </ion-col> -->
  </ion-row>
  <ion-row>
    <ion-col [size]="'4'">
    <ion-row><p class="custFontFamilyMuliRegular muli-10pt custColorGreyish">Invested Amount</p></ion-row>
    <ion-row><p class="custFontFamilyRobotoCondensed muli-14pt custColorDark">{{currencySymbol}} {{x?.totalAmountInvested}}</p></ion-row>
  </ion-col>
  <ion-col [size]="'4'">
    <ion-row><p class="custFontFamilyMuliRegular muli-10pt custColorGreyish">Current value</p></ion-row>
    <ion-row>
      <ion-row><p class="custFontFamilyRobotoCondensed muli-14pt custColorDark">{{currencySymbol}}{{x?.currentValue}}</p></ion-row>
    </ion-row>
  </ion-col>
  <ion-col [size]="'4'">
    <ion-row><p class="custFontFamilyMuliRegular muli-10pt custColorGreyish">Returns</p></ion-row>
    <ion-row *ngIf="x?.returnsPercent>0" class="custFontFamilyRobotoCondensed muli-14pt  custColorParakeetGreen"> <span><img [src]="imageList?.caretUpSharp" class=" something2 me-2" > </span>{{x?.returnsPercent}}%
    </ion-row>
    <ion-row  *ngIf="x?.returnsPercent<0" class="custFontFamilyRobotoCondensed muli-14pt  custColorcustFadedRed"> <span><img [src]="imageList?.DownPerArrow" class=" me-2" ></span> {{x?.returnsPercent}}%
    </ion-row>
  </ion-col>
  </ion-row>

<!-- <ion-row class="custBackgroundColorPaleGrey ">
 <ion-col [size]="'10'" class="custFontFamilyMuliRegular  muli-10pt custColorWarmGrey text-center pt-4"> Set-up Auto pay to experience one-tap investments</ion-col>
 <ion-col [size]="'2'">
  <ion-img [src]="imageList?.leftArrowIcon" class="m-3 custArrowIcon custColorDarkishBlue"></ion-img>
</ion-col>
</ion-row> -->
</ion-card-content>
</ion-card>



<ion-row>
  <ion-col [size]="'4'" class="custFontFamilyMuliRegular  muli-12pt custColorDark">
  </ion-col>

  <ion-col [size]="'4'" *ngIf="ViewAllBtn">
    <button (click)="ViewMore()" class=" btn w-100 text-center custButtonOutLine "> <span
        class=" custFontFamilyMuliRegular  muli-14pt custColorBrightCyan ">View All</span></button>
  </ion-col>


  <ion-col [size]="'4'"></ion-col>
</ion-row>





