.custModalContainer {
    z-index: 1;
    left: 0;
    // top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    // background-color: var(--custDark);
    //  opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid #888;
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-radius: 10px 10px 0px 0px;
  }

  .img{
    float: right;
    margin-right: 20px;
    height:30px;
  }

  :host ::ng-deep .mat-radio-outer-circle{
    border-color: var(--custDarkishBlue) !important ;
  }
  :host ::ng-deep .mat-radio-inner-circle{
    background-color: var(--custBrightCyan) !important ;
  }
