ion-toggle {
  height: 18px;
  width: 44px;
  --background: var(--custBrightCyan);

  --background-checked: var(--custBrightCyan);
  --handle-background-checked: #fff url(https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/04-512.png) no-repeat center / contain;
  --handle-background: #fff url(https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color/254000/38-1024.png) no-repeat center / contain;

}

ion-toggle::part(track) {
  padding: 5px;
}

.custIMAGE {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(239deg) brightness(104%) contrast(102%);
}

.bottomb1 {
  border-bottom: 1px solid #EEEEEE;
  width: 100%;
}

.custColorWarmGrey1 {
  color: #adb2bb;
}

.custWithoutTextImg{
  height: 18px;
  width: 18px;
}