.backArrow{
    height: 18px;
    width: 10px;
}

.custHelpIcon{
    height: 45px;
    width:45px
}

.custMargin {
    margin-top: 100px;
}

.custImgExpo{
    height: 14px;
    width: 14px;
}

.checkbox2{
    height: 18px;
    width: 18px;
}

.custBottom {
    margin-bottom: -20px;
}

.custBookmark {
    height: 28px;
    width: 18px;
    margin-right: 5px;
}

.muli-17pt {
    font-size: 17px;
}
.something2 {
    display: inline;
    filter: invert(59%) sepia(31%) saturate(930%) hue-rotate(47deg) brightness(93%) contrast(84%);
    height: 10px;
}

.something {
    height: 45px;
    width: 45px;
}

.custInvestArrow{
    height: 14px;
    width: 14px;
    margin-top: 14px;
    margin-left: 7px;
}

.checkbox2 input:checked {
    // border-color: red;
    background-color:red;
}
.returnPercent{
    margin-top: 5px;
}