<ion-row class="mt-2">
  <ion-col class=" muli-14pt custFontFamilyMuliBold custColorDark custLineHight18 px-4 ">
    Your digital signature is completed.
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class=" muli-12pt custColorGreyish custLineHight18 custFontFamilyMuliBold px-4">
    Your E-Sign process has been completed successfully.
     We have shared the digitally sign request form on your registered Email-ID.
  </ion-col>
</ion-row>

<ion-row class="mt-4  px-2">
  <ion-col>
    <button class="btn w-100 text-center custBackgroundColorBrightCyan">
      <span class="custColorWhite custFontFamilyMuliBold muli-16pt">Proceed with IPV</span>
    </button>
  </ion-col>
</ion-row>