
<ion-card>


<ion-card-header class="custPaddingSize">
    <div id="power-gauge" class="custCenter" style="text-align:center;"></div>


  <ion-row>
    <ion-col class="muli-24pt custFontFamilyMuliSemiBold custColorDark  text-center">{{data.score}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="muli-12pt custFontFamilyMuliRegular custColorBrownishGrey text-center ion-no-margin">
      {{data.description}}{{data.score}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="muli-12pt custFontFamilyMuliRegular custColorBrownishGrey text-center ion-no-margin">{{data.subDescription}}
    </ion-col>
  </ion-row>


</ion-card-header>

</ion-card>

