
// .custImg {
//     position: absolute;
//     z-index: 1;
//     width: 95px;
//     height: 95px;
//     left: 175px;
//     top: 115px;
// }

// custChart {
//     position: absolute;
//     z-index: 0;
// }

// img {
//     position: relative;
// }

// #Group_11906 {
//     transform-origin: bottom center;
// }

.custCenter{
    svg{
        display: block;
        margin: auto;

    }
}
.custPaddingSize{
  padding: 8px;
}
