
  <cap-header [title]="title" [imageList]="imageList" [showArrow]="false" [showLabel]="true" [showImg]="false" [imgURL]="labelIcon"
  [showIndex]="false" [showNotification]="true" [showCartWithName]="true" [notificationCount]="notificationCount" 
  [showSideMenu]="false" [showSearch]="true" [showClose]="false" [showShare]="false" [showWatchList]="false" [showCartWithoutName]="false"
  [showStories]="false" [otherTextName]="'Invest'" [showOtherText]="true" [superMode]="currentMode" [backUrlName]=""></cap-header>
<ion-content class="contentBackground">
  <ion-row class="pt-4 px-2">
    <ion-col [size]="'12'">
      <span class="muli-22pt custFontFamilyMuliBold custLineHight30 custColorDark text-capitalize">
        Invest
      </span>
    </ion-col>
    <ion-col [size]="'12'">
      <ion-row>
        <ion-col [size]="'2'" class="text-start p-0 m-0">
          <div class="custBackgroundColorDarkishBlue custBox p-0 m-0"></div>
      </ion-col>
      </ion-row>
    </ion-col>
    <ion-col [size]="'12'">
      <span class="custFontFamilyMuliRegular muli-12pt custLineHight18 custColorBattlePGry">Discover Mutual Funds for Investments</span>
    </ion-col>
  </ion-row>
  <ion-col class="text-center ion-no-padding">
    <lib-gridcards [SIPLumsum]="false"></lib-gridcards>
  </ion-col>

  <ion-row class="mx-4 my-4">
    <img [src]="imageList?.group1">
    <span class="custFontFamilyMuliBold muli-16pt custColorDark custLineHight18 ms-3 mt-1">{{TopRatedDataTitle}}</span>
  </ion-row>
  <lib-allmutualfundcard [jsonData]="TopRatedData"  [header]="TopRatedDataTitle"   [MutualFundPage]='true' [filterWant]='false' [imageList]="imageList" ></lib-allmutualfundcard>

<ion-row class="mx-4 my-4">
  <img [src]="imageList?.group2">
  <span class="custFontFamilyMuliBold muli-16pt custColorDark custLineHight18 ms-3 mt-1">{{texSaverTitle}}</span>
</ion-row>

<lib-allmutualfundcard [jsonData]="texSaverData" [header]="texSaverTitle" [MutualFundPage]='true' [filterWant]='false' [imageList]="imageList"></lib-allmutualfundcard>

<ion-row class="mx-4 my-4">
  <img [src]="imageList?.group3">
  <span class="custFontFamilyMuliBold muli-16pt custColorDark custLineHight18 ms-3 mt-1">{{getNewFundtitle}}</span>
</ion-row>

<lib-allmutualfundcard [jsonData]="getWealthBuildarData"  [header]="getNewFundtitle"[MutualFundPage]='true' [MutualFundPage]="getWealthBuildarData?true:false" [filterWant]='false' [imageList]="imageList"></lib-allmutualfundcard>
<ion-row *ngIf="!getWealthBuildarData">
  <ion-col class="text-center">
    <img [src]="imageList?.faceIcon">
  </ion-col>
</ion-row>
<ion-row *ngIf="!getWealthBuildarData">
<ion-col class="text-center d-flex flex-column">
  <span class="custFontFamilyMuliBold muli-16pt custColorDark custLineHight22">No new funds offers</span>
  <span class="custFontFamilyMuliBold muli-16pt custColorDark custLineHight22">currently found</span>
</ion-col>
</ion-row>

<ion-row class="mx-4 my-4">
  <img [src]="imageList?.group4">
  <span class="custFontFamilyMuliBold muli-16pt custColorDark custLineHight18 ms-3 mt-1">{{getAnnualReturntitle}}</span>
</ion-row>
<lib-allmutualfundcard [jsonData]="getAnnualReturnData"  [header]="getAnnualReturntitle" [MutualFundPage]='true' [filterWant]='false' [imageList]="imageList"></lib-allmutualfundcard>
<ion-row class="mx-4 my-4">
  <img [src]="imageList?.group5">
  <span class="custFontFamilyMuliBold muli-16pt custColorDark custLineHight18 ms-3 mt-1">{{getWealthBuildertitle}}</span>
</ion-row>
<lib-allmutualfundcard [jsonData]="getWealthBuildarData"  [header]="getWealthBuildertitle"[MutualFundPage]='true' [filterWant]='false' [imageList]="imageList"></lib-allmutualfundcard>
<ion-row class="mx-4 my-4">
  <img [src]="imageList?.group6">
  <span class="custFontFamilyMuliBold muli-16pt custColorDark custLineHight18 ms-3 mt-1">{{getSteadyInconetitle}}</span>
</ion-row>
<lib-allmutualfundcard [jsonData]="getSteadyInconeData"  [header]="getSteadyInconetitle" [MutualFundPage]='true' [filterWant]='false' [imageList]="imageList"></lib-allmutualfundcard>
</ion-content>
<cap-footer *ngIf="currentMode" [activeImg]="imageList?.activeTab"  [selectedIndex]="'3'" [footerListData]="mfFooterData" [parentTab]="'Mutual Fund'"></cap-footer>

