.custKYCImg{
    height: 16px;
    width: 13px;
}
  ::ng-deep .mat-tab-label {
    height: 35px !important;
    min-height: 5px !important;
    margin: 3px !important;
    width: 100% !important;
    min-width: 5px !important;
}
.custInvestArrow{
    height: 14px;
    width: 14px;
    margin-top: 14px;
}
