.custImage{
    height: 45px;
    width: 45px;
    margin-bottom: 20px;
}
// .center {
//     position: absolute;
//     top: 35%;
//   }

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 9%;
  }
  .col{
    color: #141B2F;
  }
 
  .img{
    position: relative;
    top: 5px;
    // float: left;
    // margin-right: 10px;
    height: 15px;
    width: 15px;
  }

 .btn1{
   border: 1px solid #44C8F5;
 }
