.imagemt{
    height: 47px;
    width: 47px;
    margin-top: 200px;
}

.custHeightBtn{
    height: 50px;
}

.custKYCImg{

    height: 16px;

    width: 13px;

    margin-left: 5px;

    margin-top: 21px;

    cursor: pointer;

}
.custPadding{
    padding-left: 16px;
    padding-right: 16px;
}
.custTop{
    margin-top: 250px;
}
.img{
    float: right;
    margin-right: 20px;
    height:30px;
  }