  <ion-header class="fixed-top">
  <ion-toolbar>
    <ion-grid >
      <ion-row>
        <ion-col class="d-flex">
          <ion-col size="1">
           <p> <ion-img (click)="dismiss()" [src]="imageList?.arrow" class="custArrorSize mt-1 custCenterAlign" ></ion-img></p>
          </ion-col>
          <ion-col class="custFontFamilyMuliBold muli-16pt">Order Details</ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="contentBackground">
  <ion-grid class="align-items-center h-100 py-5 mt-3 OrderPadding">
    <ion-row class="py-2">
      <ion-col [size]="'12'" class="py-2 OrderPaddingCol">
        <ion-card class="custBackgroundColorWhite">
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>

                <ion-col [size]="'6'" class="d-block justify-content-start">
                  <span class="custFontFamilyMuliBold muli-12pt custLineHight20 custColorDark">{{name}}</span>

                  <span class="custFontFamilyMuliRegular d-block muli-10pt custLineHight22 custColorGreyish">{{dataForOrderDetails?.purchaseDate}}</span>
                </ion-col>
                <ion-col [size]="'6'">
                  <span class="custFontFamilyMuliRegular  muli-10pt custLineHight15 custColorDark"> by Metropolis Lab</span>
                </ion-col>

                <ion-col [size]="'6'" class="pt-2 d-block justify-content-start">
                  <span class="custFontFamilyMuliRegular muli-8pt custLineHight20 custColorGreyish">Order Id
                    </span>

                  <span class="custFontFamilyMuliBold d-block muli-10pt custLineHight22 custColorDark">{{OrderDetailId}}</span>
                </ion-col>
                <ion-col [size]="'6'" class="pt-2 d-block justify-content-end text-end">
                  <span class="custFontFamilyMuliRegular muli-8pt custLineHight20 custColorGreyish ">Time Slot
                     </span>

                  <span class="custFontFamilyMuliBold d-block muli-10pt custLineHight22 custColorDark text-end">{{dataForOrderDetails?.timeSlot}}</span>
                </ion-col>
                <ion-col [size]="'6'" class="d-block justify-content-start">
                  <span class="custFontFamilyMuliRegular muli-8pt custLineHight20 custColorGreyish">Price</span>

                  <span class="custFontFamilyMuliBold d-block muli-10pt custLineHight22 custColorDark">{{dataForOrderDetails?.price}}</span>
                </ion-col>

                <ion-col [size]="'6'" class="d-block justify-content-end text-end">
                  <span class="custFontFamilyMuliRegular muli-8pt custLineHight20 custColorGreyish ">No. of tests</span>

                  <span class="custFontFamilyMuliBold d-block muli-10pt custLineHight22 custColorDark text-end ">{{dataForOrderDetails?.orderQuantity}}</span>
                </ion-col>

                <ion-col [size]="'12'">
                  <span class="custFontFamilyMuliRegular muli-8pt custLineHight20 custColorGreyish">Transaction
                    ID</span><br>
                    <ion-row class="custFontFamilyMuliBold muli-10pt custColorDark custTextAlignCenter"><span>{{dataForOrderDetails?.transactionsID}}</span>&nbsp;&nbsp;<ion-img [src]="imageList?.copy" class="custCopy" ></ion-img></ion-row>
                  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-row class="custBackgroundColorPaleGrey custbottomheight w-100  text-end p-2">
            <ion-col class="text-start custFontFamilyMuliBold muli-10pt custColorDarkishBlue">Download Invoice</ion-col>
            <ion-col class="text-start custFontFamilyMuliBold muli-10pt custColorDarkishBlue text-end">Download Report</ion-col>
          </ion-row>
        </ion-card>

<ion-row class="custpadding">
        <mat-accordion class="w-100">
          <mat-expansion-panel>
            <mat-expansion-panel-header #my (click)="valMy=!valMy">
              <mat-panel-title class="d-flex flex-row mt-2">
                <span class="custFontFamilyMuliBold muli-14pt d-block justify-content-start custLineHight20 custColorDarkShade">Price
                  Details</span>
                <span *ngIf="! valMy"
                  class="custFontFamilyMuliBold muli-10pt d-block custLineHight11 custColorParakeetGreen success"> You are
                  saving ₹50 </span>
              </mat-panel-title>
              <mat-panel-description class="flex-grow-0 pt-3">
                <p *ngIf="! valMy" class="custFontFamilyMuliBold muli-14pt custLineHight20 custColorDarkShade ">
                  {{dataForOrderDetails?.price}}</p>
              </mat-panel-description>

            </mat-expansion-panel-header>
            <ion-grid class="ion-no-padding mb-2">
              <ion-row>
                <ion-col [size]="'9'" class="pt-3">
                  <span class="custFontFamilyMuliRegular muli-12pt custLineHight20 custColorDark">Item MRP (
                    {{price}} item )</span>
                </ion-col>
                <ion-col [size]="'3'" class="pt-3">

                  <span
                    class="custFontFamilyMuliBold text-end muli-12pt custLineHight22 custColorDark">{{dataForOrderDetails?.price}}</span>
                </ion-col>
                <ion-col [size]="'9'">
                  <span class="custFontFamilyMuliRegular muli-12pt custLineHight22 custColorDark">Collection Charges
                    </span>
                </ion-col>
                <ion-col [size]="'3'">

                  <span
                    class="custFontFamilyMuliBold  muli-12pt custLineHight22 custColorDark px-2">{{dataForOrderDetails?.collectionCharges}}</span>
                </ion-col>
                <ion-col [size]="'9'">
                  <span class="custFontFamilyMuliBold muli-14pt custLineHight22 custColorDark">Grand Total</span>
                </ion-col>
                <ion-col [size]="'3'">
                  <span
                    class="custFontFamilyMuliBold  muli-14pt custLineHight22 custColorDark">{{price}}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
              <div class="bottomcontent" *ngIf=" valMy">
                <p class="text-start custFontFamilyMuliBold muli-10pt custColorParakeetGreen d-flex justify-content-start align-items-center ">
                  <span><ion-img [src]="imageList?.successTrack" class="px-2 custImgSucc"></ion-img></span>
                  <span class="py-2">{{dataForOrderDetails?.msg}}</span>
                </p>
              </div>
          </mat-expansion-panel>
        </mat-accordion>
</ion-row>


<ion-card class="custBackgroundColorWhite">
  <ion-card-content>
    <ion-grid class="ion-no-padding">
      <ion-row class="no-padding no-margin">
        <ion-col [size]="'9'">
          <span class="custFontFamilyMuliBold muli-14pt custLineHight22 custColorDark">Shipping Address</span>
        </ion-col>

        <ion-col [size]="'12'" class="pt-3 mb-1">
          <span
            class="custFontFamilyMuliBold muli-10pt custLineHight22 custColorDark">{{UserName}}</span>
        </ion-col>

        <ion-col [size]="'12'">
          <!-- <address
            class="custFontFamilyMuliBold muli-10pt custLineHight15 custColorDark custAdd"> {{dataForOrderDetails?.userAddress}}

            <p
            class="custFontFamilyMuliBold muli-10pt custLineHight15 custColorDark pt-2">{{dataForOrderDetails?.userMobioleNo}}</p>
          </address> -->
          <p>{{UserAddress1}}</p>
          <p>{{UserAddress2}}</p>
          <p>{{UserAddress3}}</p>
          <span >{{pincode}}</span> 
          <span class="px-2">{{city}}</span> 
          <span class="px-2">{{state}}</span> 
          <span class="px-2">{{country}}</span> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>




  <ion-row class="px-2 pt-2 w-100">

    <ion-col class="col custFontFamilyMuliSemiBold muli-14pt custColorGreyish">
      Order Status
    </ion-col>

    <ion-col class="col col-lg-2 d-flex muli-12pt justify-content-end custColorParakeetGreen ">
      Delivered
    </ion-col>

  </ion-row>

  <ion-row class="px-2 py-2 w-100">
    <ion-col size="1" class="col-1 w-100 d-block justify-content-start">
      <ion-img [src]="imageList?.successTrack" class="custHollow"></ion-img>
      <ion-row class="custColorParakeetGreen d-block justify-content-start custG">-------</ion-row>

      <!-- <ion-img [src]="imageList?.successTrack" class="custHollow "></ion-img>
      <ion-row class="custColorParakeetGreen d-block justify-content-start custG">-------</ion-row> -->

      <ion-img [src]="imageList?.successTrack" class="custHollow "></ion-img>
      <ion-row class="custColorParakeetGreen d-block justify-content-start  custG">-------</ion-row>

      <ion-img [src]="imageList?.successTrack" class="custHollow"></ion-img>
      <ion-row class="custColorParakeetGreen d-block justify-content-start custG">-------</ion-row>

      <ion-img [src]="imageList?.successTrack" class="custHollow"></ion-img>
      <ion-row class="custColorParakeetGreen d-block justify-content-start custG">-------</ion-row>

      <ion-img [src]="imageList?.successTrack" class="custHollow"></ion-img>

    </ion-col>

    <ion-col size="9" class="d-block justify-content-start">
      <ion-row>
        <span class="muli-12pt"> Test booked</span>
      </ion-row>
      <ion-row>
        <span class="muli-10pt custColorGreyish d-block">13 Mar 2021, 4:55 PM via UPI</span>
      </ion-row>


      <!-- <ion-row class="custMarg">
        <span class="muli-12pt"> Order dispatch</span>
      </ion-row> -->
      <ion-row>
        <span class="muli-10pt custColorGreyish d-block">18 Mar 2021, 4:55 PM</span>
      </ion-row>


      <ion-row class="custMarg">
        <span class="muli-12pt"> Test confirmed</span>
      </ion-row>
      <ion-row>
        <span class="muli-10pt custColorGreyish d-block">13 Mar 2021, 4:55 PM</span>
      </ion-row>


      <ion-row class="custMarg">
        <span class="muli-12pt"> Phlebotomist assigned</span>
      </ion-row>
      <ion-row>
        <span class="muli-10pt custColorGreyish d-block">14 Mar 2021, 4:55 PM</span>
      </ion-row>


      <ion-row class="custMarg">
        <span class="muli-12pt"> Sample Collected </span>
      </ion-row>
      <ion-row>
        <span class="muli-10pt custColorGreyish d-block">14 Mar 2021, 4:55 PM</span>
      </ion-row>


      <ion-row class="custMarg">
        <span class="muli-12pt"> E-report generated </span>
      </ion-row>
      <ion-row>
        <span class="muli-10pt custColorGreyish d-block">16 Mar 2021, 4:55 PM</span>
      </ion-row>


    </ion-col>

    <ion-col size="2" class="custFontFamilyMuliRegular muli-12pt d-block justify-content-end custColorParakeetGreen">
      <ion-row class="d-flex justify-content-end ">
        Done
      </ion-row>
      <ion-row class="d-flex justify-content-end custDoneMargin ">
        Done
      </ion-row>
      <ion-row class="d-flex justify-content-end custDoneMargin">
        Done
      </ion-row>
      <ion-row class="d-flex justify-content-end custDoneMargin">
        Done
      </ion-row>
      <ion-row class="d-flex justify-content-end custDoneMargin">
        Done
      </ion-row>
      <ion-row class="d-flex justify-content-end custDoneMargin">
        Done
      </ion-row>
    </ion-col>
  </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="fixed-bottom">
  <lib-footer (click)="dismiss()" [activeImg]="imageList?.activeTab" (getHealthMainPage)="getHealthMainPage($event)" [selectedIndex]="'4'" [footerListData]="mfFooterData" [parentTab]="'Health'"></lib-footer>

  </ion-footer>


